* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Vidaloka';
    color: #1D1A1A;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: black;
}

.c-mr-0 {
    margin-right: 0px;
}

.mt-100 {
    margin-top: 100px;
}

.p-0-135 {
    padding: 0px 130px;
}



/* subheader */

.subheader {
    display: flex;
    padding: 15px 0px;

}

.subheader-left {}

.subheader-left p {
    color: #6F6F6F;
}

.subheader-right {
    float: right;
    display: flex;
    margin-bottom: 10px;
}

.social img,
.bar {
    margin-right: 12px;
}

.button-21 {
    background-color: #02080c;
    border-radius: 22px;
    color: #FFFFFF;
    cursor: pointer;
    font-family: 'Montserrat';
    padding: 8px 20px;
}

.bar {
    border-left: 2px solid#DDDDDD;
}

.subheader .row .line {

    border-bottom: 2px solid #DDDDDD;
}

/* nav  */

nav {
    .navbar-content {
        display: flex;

    }
}

nav a {
    padding: 0;
    margin: 0;
}

nav .logo {
    /* font-size: 56px;
    font-weight: 400; */
    /* font-family: 'Quinshy'; */
    width: 189px;
    height: 70px;
}

nav ul {
    display: flex;
    margin-left: 24px;
}

nav ul li {
    list-style: none;
    padding: 12px 0px;
    margin-left: 8px;
    font-family: 'Montserrat';
    font-weight: 500;
}

nav .search-box {
    margin-left: auto;
    padding: 12px 0px;
}

nav .search-box input {
    font-size: 16px;
    font-family: 'Montserrat';
    border: none;
    width: 70px;
    height: 20px;
}

nav .search-box span {
    width: 24px;
    height: 24px;
    color: #1D1A1A;
}

/* slider */

.slider {
    width: 100%;
    overflow: hidden;
}

.slider img {
    height: 560px;
}

/* .carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 1.25rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
} */

.slider-caption {
    position: absolute;
    right: 15%;
    left: 49%;
    bottom: 7.25rem;
    width: 480px;
    height: 326px;
    border: 1px solid #FFFFFF;
    text-align: left;
    padding: 36px 55px;
}

.slider-caption .skin {
    font-size: 12px;
    color: #FFFFFF;
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Montserrat';
    border-bottom: 1px solid #FFFFFF;
    padding: 2px 0px;
}

.slider-cap {
    background-color: #405976;
}

.slider-caption h1 {
    padding: 10px 0px;
    font-family: 'Vidaloka';
    font-size: 32px;
    font-weight: 400px;
    color: #FFFFFF;
}

.slider-caption p {
    font-size: 12px;
    font-family: 'Montserrat';
    font-weight: 500;
    color: #FFFFFF;
}

.slider-caption p span {
    font-weight: 300;
}

.slider-caption a {
    font-size: 12px;
    font-weight: 400;
    font-family: 'Montserrat';
    color: #FFFFFF;
    padding: 13px 0px;
    border-bottom: 1px solid #FFFFFF;
}


/* categories */
.categories {
    margin: 30px 0px;
}

.categories-wrapper {
    /* background-color: #DDDDDD; */
    display: flex;
    justify-content: space-between;
}

.categories-image img {
    height: auto;
    width: 100%;

}

/* FOR OVERLAY ON IMAGE */
.categories-wrapper {
    /* Set a fixed width for the wrapper */
    position: relative;
}

.categories-image {
    position: relative;
    overflow: hidden;
    /* Hide overflowing content */
}

.categories-image img {

    /* filter: blur(1px);  */
    /* Apply a blur effect to the image */
}

.categories-image .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1D1A1A99;
    /* Semi-transparent black overlay */
}

.categories-image .like-button {
    color: #FFFFFF;
    text-decoration: none;
    padding: 8px 24px;
    border-radius: 17px;
    border: 1px solid #FFFFFF;
    font-size: 12px;
    font-family: 'Montserrat';
    letter-spacing: 2px;
    font-weight: 400;
    text-align: center;
}


/* latest post */

.latestPost {}

.latestPost .top-line {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.latestPost .line {
    flex: 1;
    border-bottom: 2px solid #000;
}

.latestPost .text {
    margin: 0 10px;
    /* Adjust the margin as needed */
    font-weight: bold;
    /* You can apply other styles to the text as well */
    font-size: 28px;
    font-weight: 400;
}

.latestPost .wrapper-top {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.latestPost .wrapper-top .top-image {
    position: relative;
    /* overflow: hidden; */
}

.latestPost .wrapper-top .top-image .overlay {
    position: absolute;
    width: 292px;
    height: auto;
    border: 1px solid #1D1A1A;
    text-align: center;
    top: 65%;
    right: 8%;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    padding: 10px 20px;
}

.latestPost .wrapper-top .top-image .overlay .top {
    font-family: 'Montserrat';
    font-size: 12px;
    border-bottom: 1px solid #1D1A1A;
    padding: 2px 0px;
}

.latestPost .wrapper-top .top-image .overlay p {
    font-size: 24px;
    font-weight: 400;
}

.latestPost .wrapper-top .top-image .overlay .bottom {
    font-size: 12px;
    font-family: 'Montserrat';
    color: #838383;
}

.latestPost .wrapper-bottom {
    margin-top: 150px;
    position: relative;
}

.latestPost .wrapper-bottom img {
    width: 100%;
    position: relative;
}

.latestPost .wrapper-bottom .overlay {
    position: absolute;
    width: 830px;
    height: auto;
    border: 1px solid #1D1A1A;
    text-align: center;
    top: 75%;
    left: 12%;
    background-color: #FFFFFF;
    padding: 12px 66px;
}

.latestPost .wrapper-bottom .overlay .top {
    font-family: 'Montserrat';
    font-size: 12px;
    border-bottom: 1px solid #1D1A1A;
    padding: 2px 0px;
}

.latestPost .wrapper-bottom .overlay p {
    font-size: 32px;
    font-weight: 400;
}

.latestPost .wrapper-bottom .overlay .paragrap {
    font-size: 14px;
    font-family: 'Montserrat';
}

.latestPost .wrapper-bottom .overlay .bottom {
    font-size: 12px;
    font-family: 'Montserrat';
    color: #838383;
}

/* ad */
.ad {
    margin-top: 150px;
    margin-bottom: 50px;
}

.ad img {
    width: 100%;
}

/* popular post  */

.popularPost .top-line {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.popularPost .line {
    flex: 1;
    border-bottom: 2px solid #000;
}

.popularPost .text {
    margin: 0 10px;
    /* Adjust the margin as needed */
    font-weight: bold;
    /* You can apply other styles to the text as well */
    font-size: 28px;
    font-weight: 400;
}

.popularPost .wrapper-top {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.popularPost .wrapper-top .top-image {
    position: relative;
    /* overflow: hidden; */
}

.popularPost .wrapper-top .top-image .overlay {
    position: absolute;
    width: 292px;
    height: auto;
    border: 1px solid #1D1A1A;
    text-align: center;
    top: 65%;
    right: 8%;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    padding: 10px 20px;
}

.popularPost .wrapper-top .top-image .overlay .top {
    font-family: 'Montserrat';
    font-size: 12px;
    border-bottom: 1px solid #1D1A1A;
    padding: 2px 0px;
}

.popularPost .wrapper-top .top-image .overlay p {
    font-size: 24px;
    font-weight: 400;
}

.popularPost .wrapper-top .top-image .overlay .bottom {
    font-size: 12px;
    font-family: 'Montserrat';
    color: #838383;
}

.wrapper-bottom .bottom-image {
    margin: 130px 0;
}

.popularPost .wrapper-bottom {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.popularPost .wrapper-bottom .bottom-image {
    position: relative;
}

.wrapper-bottom .bottom-image img {
    width: 540px;
}

.popularPost .wrapper-bottom .overlay {
    position: absolute;
    width: 410px;
    height: auto;
    border: 1px solid #1D1A1A;
    text-align: center;
    top: 75%;
    left: 58px;
    background-color: #FFFFFF;
    padding: 12px 30px;
}

.popularPost .wrapper-bottom .overlay .top {
    font-family: 'Montserrat';
    font-size: 12px;
    border-bottom: 1px solid #1D1A1A;
    padding: 2px 0px;
}

.popularPost .wrapper-bottom .overlay p {
    font-size: 24px;
    font-weight: 400;
}

.popularPost .wrapper-bottom .overlay .bottom {
    font-size: 12px;
    font-family: 'Montserrat';
    color: #838383;
}

/* testimonial */

.testimonial {
    width: 100%;
    height: 296px;
    background-color: #DDDDDD;
    margin-top: 20px;
    overflow: hidden;
    position: relative;
}

.testimonial .content {
    width: 795px;
    height: 190px;
    position: absolute;
    /* content make center up-down-left-right*/
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.testimonial .content .content-img {}

.testimonial .content .content-img img {
    width: 190px;
    height: 100%;
    border-radius: 50%;

}

.testimonial .content .content-text {
    margin-left: 25px;
    margin-top: 5px;

    .name {
        font-size: 36px;
        font-weight: 400;
    }

    & p {
        margin-top: 10px;
        font-size: 12px;
        font-weight: 500;
    }

    .social i {
        margin-top: 10px;
        margin-right: 30px;
    }
}

.ad2 {
    margin: 30px 0;
}

/* instagram */

.instagram .top-line {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.instagram .line {
    flex: 1;
    border-bottom: 2px solid #000;
}

.instagram .text {
    margin: 0 10px;
    font-weight: bold;
    font-size: 28px;
    font-weight: 400;
}

.instagram .wrapper-top {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.instagram .wrapper-top .top-image {
    position: relative;
}

.instagram .wrapper-top .top-image img {
    width: 260px;
}

.instagram .follow-btn {
    margin: 20px 0;
}

.instagram .btn-follow {
    border-radius: 26px;
}

/* random post  */

.randomPost .top-line {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.randomPost .line {
    flex: 1;
    border-bottom: 2px solid #000;
}

.randomPost .text {
    margin: 0 10px;
    font-weight: bold;
    font-size: 28px;
    font-weight: 400;
}


.randomPost-wrapper .left-img-content .overlay {
    
}



/* footer  */

footer {
    overflow: hidden;
}

.footer-upper {
    width: 100%;
    height: 379px;
    background-color: #DDDDDD;
    margin-top: 20px;
    overflow: hidden;
    position: relative;
}

.footer-upper .footer-upper-content {
    width: 795px;
    height: 190px;
    position: absolute;
    /* content make center up-down-left-right*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer-upper .footer-upper-content p{
    text-align: center;
    font-size: 36px;
}
.footer-upper .footer-upper-content span {
    font-size: 16px;
}
.subscribe-aggree {
    justify-content: center;
    margin-top: 10px;
    font-size: 16px;
    display: flex;
}
.search-footer {
    position: relative;
    width: 730px;
}

.search-footer input {
    height: 60px;
    text-indent: 25px;
    border: 2px solid #d6d4d4;
    font-size: 18px;
    border-radius: 29px;
}

.search-footer input:focus {
    box-shadow: none;
    border: 2px solid #1D1A1A;
}

.search-footer .fa-search {
    position: absolute;
    top: 20px;
    left: 16px;

}

.search-footer button {
    position: absolute;
    top: 4px;
    right: 4px;
    background: #1D1A1A;
    border-radius: 29px;
    padding: 13px 47px;
}